.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 300px;
    padding: 40px;
    background-color:#0071c2;

    
}
.login-title{
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.login-input {
    height: 20px;
    padding: 10px;
}

.login-button {
    border: none;
    padding: 10px 20px;
    background-color: rgb(237, 174, 13);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.login-button:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
}
.error{
    color: rgb(204, 13, 13);
   
   
}