.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}

.login .form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 300px;
    padding: 40px;
    background-color: #003580;

    
}
.login .login-title{
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
}


.login .login-input {
    height: 20px;
    padding: 10px;
}

.login .login-button {
    border: none;
    padding: 10px 20px;
    background-color: rgb(237, 174, 13);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}

.login .login-button:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
}
.error{
    color: rgb(204, 13, 13);
   
   
}
.btn-link{
    position: absolute;
    bottom: 40px;
    
}
.btn-link button{
    color: goldenrod;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.backHome{
    margin-right: 5px;
}